@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 30, 30;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 230, 230, 230;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 225, 225, 225;
    --background-start-rgb: 30, 30, 30;
    --background-end-rgb: 30, 30, 30;
  }
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to right,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bottom-background {
  background: linear-gradient(
      to right,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* =================== Animations ==================== */
/* initial dissolve */
@keyframes dissolve {
  0% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}

.dissolve {
  animation: dissolve 2s forwards;
}

/* fancier radial dissolve that doesn't look so good TODO: Delete this later */
@keyframes radial-dissolve {
  0% {
    background-size: 0 0;
  }
  100% {
    background-size: 2000% 2000%;
    opacity: 0;
  }
}

.radial-dissolve {
  /*position: relative;*/
  animation: radial-dissolve 2s forwards;
  background: radial-gradient(circle, transparent 1%, black 1%);
  background-position: center;
  background-repeat: no-repeat;
}

/* The rotating glow behind a new domain modal right after collection */
.glamour-modal::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130%;
    height: 110%;
    background: radial-gradient(ellipse, rgba(241, 184, 80, 1.0) 0%, transparent 70%);
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    animation: rotate-shadow 8s infinite linear;
}

@keyframes rotate-shadow {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Shake animation for errors and other attention-needing items */
@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 5% { transform: translateX(5px) }
 10% { transform: translateX(-5px) }
 15% { transform: translateX(5px) }
 20% { transform: translateX(0) }
 100% { transform: translateX(0) }
}

.attention-shake {
  animation: horizontal-shaking 5s infinite;
}
